<app-navigation class="ocultar-navbar"></app-navigation>
<section class="hero" id="hero">
    <div class="container">
        <h2 class="h2-sub">
            <span class="fil">B</span>ienvenido
        </h2>
        <h1 class="head">Sitio de control de gastos</h1>
        <div class="he-des">
            <h5>¡Te presentamos GastoSmart!</h5>
            <a href="#" class="btn cta-btn">Explorar</a>
        </div>
    </div>
</section>

<section class="dis-sto">
    <div class="container">
        <div class="res-info">
            <div>
                <img src="/assets/primer-plano.jpg" alt="">
            </div>
        
            <div class="res-des pad-rig">
                <div class="global">
                    <h2 class="h2-sub">
                        <span class="fil">D</span>escubre
                    </h2>
                    <h1 class="head hea-dark">La Historia</h1>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque veniam autem qui magnam ex tempora atque, voluptas
                     voluptatem, recusandae porro corporis assumenda. 
                    Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                </p>
                <a href="#" class="btn cta-btn">Nosotros</a>
            </div>

        </div>
    </div>
</section>


<section class="taste bt">
    <div class="container">
        <div class="global">
            <h2 class="h2-sub">
                <span class="fil">F</span>unciónes
            </h2>
            <h1 class="head">¿Que es lo que podemos ofrecer?</h1>
        </div>
    </div>
</section>


<section class="disco">
    <div class="container">
        <div class="res-info">
            <div class="res-des">
                <div class="global">
                    <h2 class="h2-sub">
                        <span class="fil">D</span>escubre
                    </h2>
                    <h1 class="head hea-dark">Administración</h1>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque veniam autem qui magnam ex tempora atque, voluptas
                    voluptatem, recusandae porro corporis assumenda. 
                    Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                </p>
                <a href="#" class="btn cta-btn">Probar app</a>
            </div>
            <div class="image-group pad-rig">
                <img src="/assets/educacion-economia.jpg" alt="">
                <img src="/assets/primer-plano.jpg" alt="">
                <img src="/assets/arreglo-casa.jpg" alt="">
                <img src="/assets/educacion-economia.jpg" alt="">
            </div>

        </div>
    </div>
</section>

<section class="pb bt">
    <div class="container">
        <div class="global">
            <h2 class="h2-sub">
                <span class="fil">I</span>nvitación
            </h2>
            <h1 class="head">Pon aprueba nuestras funciones</h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="res-info">

            <div class="image-group">
                <img src="/assets/mujer-negocios.jpg" alt="">
                <img src="/assets/educacion-economia_2.jpg" alt="">
            </div>
            <div class="res-des pad-rig">
                <div class="global">
                    <h2 class="h2-sub">
                        <span class="fil">P</span>rueba
                    </h2>
                    <h1 class="head hea-dark">Aplicacion web</h1>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque veniam autem qui magnam ex tempora atque, voluptas
                     voluptatem, recusandae porro corporis assumenda. 
                    Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                </p>
                <a href="#" class="btn cta-btn">Registrarse</a>
            </div>

        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="footer-content">

            <div class="footer-content-about">
                <h4>Nosotros</h4>
                <div class="circle">
                    <i class="fas fa-circle"></i>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Praesentium odio labore dolorum veritatis, culpa cumque eum 
                    reprehenderit iure, commodi, repellat eaque possimus obcaecati 
                    assumenda exercitationem? 
                    Aperiam provident accusantium laboriosam. Necessitatibus!</p>
            </div>
            <div class="footer-div">
                <div class="social-media">
                    <h4>Siguenos</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-tripadvisor"></i></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Noticias</h4>
                    <form action="" class="news-form">
                        <input type="text" class="news-input"
                        placeholder="Escribe tu email"
                        >
                        <button class="news-btn" type="submit">
                            <i class="fas fa-envelope"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</footer>

<script>

    const selectElement = function(element) {
        return document.querySelector(element);
    }


    let menuToggle = selectElement('.menu-toggle');
    let body = selectElement('body');

    menuToggle.addEventListener('click', function(){
        body.classList.toggle('open');
    })

</script>

